@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}


<div class="section">
    <h2>@ViewData["Title"].</h2>
    <div class="row">
        <div class="col s12 m8">

            @{ Html.RenderPartial("_StatusMessage"); }            

            <div class="section">
                <h5>Your account settings</h5>
            </div>

            <div class="panel">
                
                <a href="@Url.Action("ChangeEmail", "Manage")">
                    <div class="row">

                        <div class="col s12 m4">Email:</div>
                        <div class="col s12 m8 value">
                            @(Model.Email ?? "None")
                            <i class="right material-icons">keyboard_arrow_right</i>
                        </div>
                    </div>
                </a>
                
                <a href="@Url.Action(Model.HasPassword ? "ChangePassword" : "SetPassword", "Manage")">
                    <div class="row">

                        <div class="col s12 m4">Password:</div>
                        <div class="col s12 m8 value">
                            @if (Model.HasPassword)
                            {
                                <span>Change password</span>
                            }
                            else
                            {
                                <span>Set password</span>
                            }
                            <i class="right material-icons">keyboard_arrow_right</i>
                        </div>
                    </div>
                </a>

                <a href="@Url.Action("ManageLogins", "Manage")">
                    <div class="row">
                        <div class="col s12 m4">External Logins:</div>
                        <div class="col s12 m8 value">
                            @Model.Logins.Count
                            <i class="right material-icons">keyboard_arrow_right</i>
                        </div>
                    </div>
                </a>

                <!--
                    
                <div class="row">
                    <div class="col s12 m4">Phone Number:</div>
                    <div class="col s12 m8 value">
                        <div>
                            Phone Numbers can used as a second factor of verification in two-factor authentication.
                            See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication using SMS.
                        </div>
                        @*@(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
                    <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                        [<button type="submit" class="btn-link">Remove</button>]
                    </form>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Add</a>
                }*@
                    </div>
                </div>
                    -->
                <a href="@Url.Action(Model.AuthenticatorEnabled ? "RemoveAuthenticator" : "AddAuthenticator")">
                    <div class="row">
                        <div class="col s12 m4">Authenticator:</div>
                        <div class="col s12 m8 value">
                            @if (Model.AuthenticatorEnabled)
                            {
                                <span>Remove authenticator</span>
                            }
                            else
                            {
                                <span>Add authenticator</span>
                            }
                            <i class="right material-icons">keyboard_arrow_right</i>
                        </div>
                    </div>
                </a>

                <div class="row">
                    <div class="col s12 m4">Two-Factor Authentication:</div>
                    <div class="col s12 m8 value">
                        @if (Model.TwoFactor)
                        {
                            <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                                Enabled <button type="submit" class="btn btn-link">Disable</button>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                                <button type="submit" class="btn btn-link">Enable</button> Disabled
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
